body{
	background-color:#FFF;
	font-family: 'Lora', serif;
}

hr{
	background-color: #E24E42;
}

.mylogo{
	width: auto;
	vertical-align: middle;
	height:auto;
}

.listButton{ 
	background-color: #EB6E80;
	border-radius: 50%;

}

#list{
	color:white;
	cursor:pointer;
}

.listButton:hover{
	background-color: #E9B000;
	border-radius: 50%;
}

#list1{
	background-color: #008F95;
	width:50%;
	margin:auto;

}
#listTitle{
    background-color:#FFF ;

}
#items {
    background-color:#008F95 ;
}
#headlogo{
	height:50px;
}

.mt-0{
	width:100%;
	text-align:center;
}

#icon_des{
	text-align:center;
	width:100%;
	height:auto;
	margin-bottom: 10px;
}

.btn.btn-primary{
	display: block;
	width:100%;
	background-color: #E9B000;
	color:#373737;
	border-color: #C0B283

}


.btn.btn-primary:hover{
	background-color: #E9B000;
	color:#F4F4F4;
	border-color:#373737;
}

#bio_btn:hover{
	background-color: #E9B000;
	color:#373737;
	border-color:#C0B283;
}

.container{
	background-color: #F4F4F4;
}


h1{
	padding-top:10px;
}

ul.check-square{
	list-style-type: none;
}

ul.check-square > li::before{ 
	content: '\f14a' !important;   
    font-family: FontAwesome;
    margin-right: 10px;
    margin-left: -20px;
}

hr{
	color:#C0B283;
}





nav.navbar{
	background-color: #EB6E80 !important;
}

nav ul{
	position: absolute !important;
	right:10px !important;
}

.nav-link{
	color:#373737 !important;
}

.dropdown-menu{
	background-color: #E9B000;
	color: #F4F4F4;
	border-color: #373737 ;
	left:-80px;
}

.dropdown-item{
	color:#373737;
}


.footer_div{
	display: block;
	float: left;
}

footer{
	background-color:#EB6E80;
	position:absolute;
	width:100%;
	height:auto;
}

footer ul li{
	display:inline-block;
	list-style:none;
	padding:2%;
	float:right;
}

footer p{
	float:left;
	padding:2%;
	display: inline-block;
}

footer img{
	margin-top: 20px;
	float:left;
	display:inline-block;
	height: 40px;
}

footer a, footer p{
	color:#fff;
	vertical-align:middle;
}

footer a:hover{
	color: #008F95;
}

p {
    font-family: 'Lora', serif;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-family: 'Libre Baskerville', serif;
}

h3 {
    font-family: 'Lora', serif;
}

