<%= layout('/layout') %>

<footer class="container-fluid">
  <div class="footer_div"> 
    <a class="mylogo"><img src="Assets/img/logo-pb.jpg"></a>
    <p><i class="far fa-copyright"></i> Finito 2019 </p>
  </div>
  <ul>
    <li> <a href="#"><i class="fas fa-chevron-up"></i></a> </li>
  </ul>
</footer>