<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="mylogo"><img src="/images/finito2.png" id=headlogo></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <% if(typeof currentUser !== 'undefined'){%>
      <li class="nav-item active">
        <a class="nav-link" href="/">Logout<span class="sr-only">(current)</span></a>
      </li>
      <% }else{ %>
      <li class="nav-item ative"><a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a></li>
      <% } %>
    </ul>
  </div>
</nav>