    <div><%- partial('partials/navbar') -%></div>

	<div>
		<h2>Please Log In</h2>
		<% if(error) { %>
		<%= error %>
		<% } %>
		<form action="/login" method="post">
			<label for="username">Email Address</label>
			<input name="username" placeholder="Email Address" required autofocus>

			<label for="password">Password</label>
			<input name="password" type="password" required>

			<button type="submit">Sign In</button>
		</form>
	</div>

    <div><%-partial('partials/footer') %></div>
