    <%= layout('loginlayout.ejs') %>
    <div><%- partial('partials/navbar') -%></div>

	<div>
		<h2>Please Log In</h2>
		<% if(error) { %>
		<%= error %>
		<% } %>
		<form id="login" action="/login" method="post">
			<label for="username">Email Address: </label>
			<input name="username" required autofocus>
			<br> <br> 
			<label for="password">Password: </label>
			<input name="password" type="password" required>
			<button type="submit">Log In</button>
			<br>
			<button type="submit">Sign In</button>
		</form>
	</div>

   
